// content
.content {
  flex: 1;
  margin-top: 64px;
  padding: 0 120px;
}

// subject
@mixin subject-highlight {
  position: absolute;
  left: -12px;
  right: -12px;
  bottom: 2px;
  border-bottom: 20px solid $main-yellow;
  z-index: -1;
  content: '';
}

@mixin subject {
  display: inline;
  position: relative;
  font-size: 24px;
  color: rgba(0, 0, 0, .8);

  &:after {
    @include subject-highlight;
    transition: right .1s ease;
  }
}

.subject {
  @include subject;
}

.subject--hover {
  @include subject;
  cursor: pointer;

  &:hover:after {
    @include subject-highlight;
    right: -100px;
  }
}

// postList
.postList {
  &__area {
    margin-top: 20px;
    padding-left: 20px;
  }

  &__item {
    & + & {
      margin-top: 16px;
    }

    .link {
      display: block;
    }
  }

  &__area-title {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &:hover:after {
      position: absolute;
      left: -6px;
      right: -6px;
      bottom: 50%;
      border-bottom: 2px solid $main-green;
      z-index: -1;
      content: '';
    }
  }

  &__title {
    font-size: 18px;
    color: rgba(0, 0, 0, .8);
  }

  &__date {
    margin-left: 8px;
    font-size: 12px;
    color: rgba(0, 0, 0, .3);
  }
}
