.path {
  margin-top: 30px;

  h2 {
    font-family: 'NanumSquare', sans-serif;
    padding: 4px 12px 4px 16px;
    display: inline;
    position: relative;
    font-size: 16px;
    font-weight: normal;
  }
  a:nth-child(1) h2 {
    background-color: $main-green;
    &::after {
      border-color: transparent transparent transparent $main-green;
    }
  }
  a:nth-child(2) h2 {
    padding: 4px 12px 4px 24px;
    background-color: $main-yellow;
    &::after {
      border-color: transparent transparent transparent $main-yellow;

    }
  }
  h2::after {
    content: "";
    // border-color: transparent coral;
    border-style: solid;
    border-width: 13px 0px 13px 14px;
    height: 0px;
    width: 0px;
    position: absolute;
    right: -14px;
    top: 0;
    bottom: 0;
    // transform: translate(12px);
    z-index: 1;
  }
}
