$bg-blue: #c3e5ff;
$tako-blue: rgb(96, 176, 252); // need to change
$deep-blue: #152164;
$light-blue: #22338f;

$main-yellow: rgb(255, 251, 147);
$deep-yellow: rgb(255, 249, 75);

$main-green: rgb(166, 244, 166);
